src/META-INF/wsdl/localhost_8080/StoreWebService/StoreWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="StoreWS">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/StoreWebService/StoreWS?xsd=1"/>
</xsd:schema>
</types>
<message name="buyCapacitor">
<part name="parameters" element="tns:buyCapacitor"/>
</message>
<message name="buyCapacitorResponse">
<part name="parameters" element="tns:buyCapacitorResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="getOrder">
<part name="parameters" element="tns:getOrder"/>
</message>
<message name="getOrderResponse">
<part name="parameters" element="tns:getOrderResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="removeUser">
<part name="parameters" element="tns:removeUser"/>
</message>
<message name="removeUserResponse">
<part name="parameters" element="tns:removeUserResponse"/>
</message>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"/>
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse"/>
</message>
<message name="checkAuthorization">
<part name="parameters" element="tns:checkAuthorization"/>
</message>
<message name="checkAuthorizationResponse">
<part name="parameters" element="tns:checkAuthorizationResponse"/>
</message>
<message name="removeCapacitor">
<part name="parameters" element="tns:removeCapacitor"/>
</message>
<message name="removeCapacitorResponse">
<part name="parameters" element="tns:removeCapacitorResponse"/>
</message>
<message name="addCapacitor">
<part name="parameters" element="tns:addCapacitor"/>
</message>
<message name="addCapacitorResponse">
<part name="parameters" element="tns:addCapacitorResponse"/>
</message>
<message name="getAllCapacitors">
<part name="parameters" element="tns:getAllCapacitors"/>
</message>
<message name="getAllCapacitorsResponse">
<part name="parameters" element="tns:getAllCapacitorsResponse"/>
</message>
<message name="getCapacitor">
<part name="parameters" element="tns:getCapacitor"/>
</message>
<message name="getCapacitorResponse">
<part name="parameters" element="tns:getCapacitorResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getAllUsers">
<part name="parameters" element="tns:getAllUsers"/>
</message>
<message name="getAllUsersResponse">
<part name="parameters" element="tns:getAllUsersResponse"/>
</message>
<message name="sortByDescendingCapacitorPrice">
<part name="parameters" element="tns:sortByDescendingCapacitorPrice"/>
</message>
<message name="sortByDescendingCapacitorPriceResponse">
<part name="parameters" element="tns:sortByDescendingCapacitorPriceResponse"/>
</message>
<message name="sortByAscendingCapacitorCap">
<part name="parameters" element="tns:sortByAscendingCapacitorCap"/>
</message>
<message name="sortByAscendingCapacitorCapResponse">
<part name="parameters" element="tns:sortByAscendingCapacitorCapResponse"/>
</message>
<message name="sortByDescendingCapacitorCap">
<part name="parameters" element="tns:sortByDescendingCapacitorCap"/>
</message>
<message name="sortByDescendingCapacitorCapResponse">
<part name="parameters" element="tns:sortByDescendingCapacitorCapResponse"/>
</message>
<message name="sortByAscendingCapacitorPrice">
<part name="parameters" element="tns:sortByAscendingCapacitorPrice"/>
</message>
<message name="sortByAscendingCapacitorPriceResponse">
<part name="parameters" element="tns:sortByAscendingCapacitorPriceResponse"/>
</message>
<message name="removeResistor">
<part name="parameters" element="tns:removeResistor"/>
</message>
<message name="removeResistorResponse">
<part name="parameters" element="tns:removeResistorResponse"/>
</message>
<message name="addOrder">
<part name="parameters" element="tns:addOrder"/>
</message>
<message name="addOrderResponse">
<part name="parameters" element="tns:addOrderResponse"/>
</message>
<message name="updateOrder">
<part name="parameters" element="tns:updateOrder"/>
</message>
<message name="updateOrderResponse">
<part name="parameters" element="tns:updateOrderResponse"/>
</message>
<message name="getAllOrders">
<part name="parameters" element="tns:getAllOrders"/>
</message>
<message name="getAllOrdersResponse">
<part name="parameters" element="tns:getAllOrdersResponse"/>
</message>
<message name="addResistor">
<part name="parameters" element="tns:addResistor"/>
</message>
<message name="addResistorResponse">
<part name="parameters" element="tns:addResistorResponse"/>
</message>
<message name="updateResistor">
<part name="parameters" element="tns:updateResistor"/>
</message>
<message name="updateResistorResponse">
<part name="parameters" element="tns:updateResistorResponse"/>
</message>
<message name="removeOrder">
<part name="parameters" element="tns:removeOrder"/>
</message>
<message name="removeOrderResponse">
<part name="parameters" element="tns:removeOrderResponse"/>
</message>
<message name="updateCapacitor">
<part name="parameters" element="tns:updateCapacitor"/>
</message>
<message name="updateCapacitorResponse">
<part name="parameters" element="tns:updateCapacitorResponse"/>
</message>
<message name="getResistor">
<part name="parameters" element="tns:getResistor"/>
</message>
<message name="getResistorResponse">
<part name="parameters" element="tns:getResistorResponse"/>
</message>
<message name="getAllResistors">
<part name="parameters" element="tns:getAllResistors"/>
</message>
<message name="getAllResistorsResponse">
<part name="parameters" element="tns:getAllResistorsResponse"/>
</message>
<portType name="StoreWS">
<operation name="buyCapacitor">
<input wsam:Action="http://service/StoreWS/buyCapacitorRequest" message="tns:buyCapacitor"/>
<output wsam:Action="http://service/StoreWS/buyCapacitorResponse" message="tns:buyCapacitorResponse"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://service/StoreWS/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://service/StoreWS/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="getOrder">
<input wsam:Action="http://service/StoreWS/getOrderRequest" message="tns:getOrder"/>
<output wsam:Action="http://service/StoreWS/getOrderResponse" message="tns:getOrderResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://service/StoreWS/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://service/StoreWS/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="removeUser">
<input wsam:Action="http://service/StoreWS/removeUserRequest" message="tns:removeUser"/>
<output wsam:Action="http://service/StoreWS/removeUserResponse" message="tns:removeUserResponse"/>
</operation>
<operation name="updateUser">
<input wsam:Action="http://service/StoreWS/updateUserRequest" message="tns:updateUser"/>
<output wsam:Action="http://service/StoreWS/updateUserResponse" message="tns:updateUserResponse"/>
</operation>
<operation name="checkAuthorization">
<input wsam:Action="http://service/StoreWS/checkAuthorizationRequest" message="tns:checkAuthorization"/>
<output wsam:Action="http://service/StoreWS/checkAuthorizationResponse" message="tns:checkAuthorizationResponse"/>
</operation>
<operation name="removeCapacitor">
<input wsam:Action="http://service/StoreWS/removeCapacitorRequest" message="tns:removeCapacitor"/>
<output wsam:Action="http://service/StoreWS/removeCapacitorResponse" message="tns:removeCapacitorResponse"/>
</operation>
<operation name="addCapacitor">
<input wsam:Action="http://service/StoreWS/addCapacitorRequest" message="tns:addCapacitor"/>
<output wsam:Action="http://service/StoreWS/addCapacitorResponse" message="tns:addCapacitorResponse"/>
</operation>
<operation name="getAllCapacitors">
<input wsam:Action="http://service/StoreWS/getAllCapacitorsRequest" message="tns:getAllCapacitors"/>
<output wsam:Action="http://service/StoreWS/getAllCapacitorsResponse" message="tns:getAllCapacitorsResponse"/>
</operation>
<operation name="getCapacitor">
<input wsam:Action="http://service/StoreWS/getCapacitorRequest" message="tns:getCapacitor"/>
<output wsam:Action="http://service/StoreWS/getCapacitorResponse" message="tns:getCapacitorResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://service/StoreWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://service/StoreWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getAllUsers">
<input wsam:Action="http://service/StoreWS/getAllUsersRequest" message="tns:getAllUsers"/>
<output wsam:Action="http://service/StoreWS/getAllUsersResponse" message="tns:getAllUsersResponse"/>
</operation>
<operation name="sortByDescendingCapacitorPrice">
<input wsam:Action="http://service/StoreWS/sortByDescendingCapacitorPriceRequest" message="tns:sortByDescendingCapacitorPrice"/>
<output wsam:Action="http://service/StoreWS/sortByDescendingCapacitorPriceResponse" message="tns:sortByDescendingCapacitorPriceResponse"/>
</operation>
<operation name="sortByAscendingCapacitorCap">
<input wsam:Action="http://service/StoreWS/sortByAscendingCapacitorCapRequest" message="tns:sortByAscendingCapacitorCap"/>
<output wsam:Action="http://service/StoreWS/sortByAscendingCapacitorCapResponse" message="tns:sortByAscendingCapacitorCapResponse"/>
</operation>
<operation name="sortByDescendingCapacitorCap">
<input wsam:Action="http://service/StoreWS/sortByDescendingCapacitorCapRequest" message="tns:sortByDescendingCapacitorCap"/>
<output wsam:Action="http://service/StoreWS/sortByDescendingCapacitorCapResponse" message="tns:sortByDescendingCapacitorCapResponse"/>
</operation>
<operation name="sortByAscendingCapacitorPrice">
<input wsam:Action="http://service/StoreWS/sortByAscendingCapacitorPriceRequest" message="tns:sortByAscendingCapacitorPrice"/>
<output wsam:Action="http://service/StoreWS/sortByAscendingCapacitorPriceResponse" message="tns:sortByAscendingCapacitorPriceResponse"/>
</operation>
<operation name="removeResistor">
<input wsam:Action="http://service/StoreWS/removeResistorRequest" message="tns:removeResistor"/>
<output wsam:Action="http://service/StoreWS/removeResistorResponse" message="tns:removeResistorResponse"/>
</operation>
<operation name="addOrder">
<input wsam:Action="http://service/StoreWS/addOrderRequest" message="tns:addOrder"/>
<output wsam:Action="http://service/StoreWS/addOrderResponse" message="tns:addOrderResponse"/>
</operation>
<operation name="updateOrder">
<input wsam:Action="http://service/StoreWS/updateOrderRequest" message="tns:updateOrder"/>
<output wsam:Action="http://service/StoreWS/updateOrderResponse" message="tns:updateOrderResponse"/>
</operation>
<operation name="getAllOrders">
<input wsam:Action="http://service/StoreWS/getAllOrdersRequest" message="tns:getAllOrders"/>
<output wsam:Action="http://service/StoreWS/getAllOrdersResponse" message="tns:getAllOrdersResponse"/>
</operation>
<operation name="addResistor">
<input wsam:Action="http://service/StoreWS/addResistorRequest" message="tns:addResistor"/>
<output wsam:Action="http://service/StoreWS/addResistorResponse" message="tns:addResistorResponse"/>
</operation>
<operation name="updateResistor">
<input wsam:Action="http://service/StoreWS/updateResistorRequest" message="tns:updateResistor"/>
<output wsam:Action="http://service/StoreWS/updateResistorResponse" message="tns:updateResistorResponse"/>
</operation>
<operation name="removeOrder">
<input wsam:Action="http://service/StoreWS/removeOrderRequest" message="tns:removeOrder"/>
<output wsam:Action="http://service/StoreWS/removeOrderResponse" message="tns:removeOrderResponse"/>
</operation>
<operation name="updateCapacitor">
<input wsam:Action="http://service/StoreWS/updateCapacitorRequest" message="tns:updateCapacitor"/>
<output wsam:Action="http://service/StoreWS/updateCapacitorResponse" message="tns:updateCapacitorResponse"/>
</operation>
<operation name="getResistor">
<input wsam:Action="http://service/StoreWS/getResistorRequest" message="tns:getResistor"/>
<output wsam:Action="http://service/StoreWS/getResistorResponse" message="tns:getResistorResponse"/>
</operation>
<operation name="getAllResistors">
<input wsam:Action="http://service/StoreWS/getAllResistorsRequest" message="tns:getAllResistors"/>
<output wsam:Action="http://service/StoreWS/getAllResistorsResponse" message="tns:getAllResistorsResponse"/>
</operation>
</portType>
<binding name="StoreWSPortBinding" type="tns:StoreWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="buyCapacitor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkAuthorization">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeCapacitor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCapacitor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCapacitors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCapacitor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sortByDescendingCapacitorPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sortByAscendingCapacitorCap">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sortByDescendingCapacitorCap">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sortByAscendingCapacitorPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeResistor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllOrders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addResistor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateResistor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCapacitor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getResistor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllResistors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StoreWS">
<port name="StoreWSPort" binding="tns:StoreWSPortBinding">
<soap:address location="http://localhost:8080/StoreWebService/StoreWS"/>
</port>
</service>
</definitions>