src/META-INF/wsdl/localhost_8080/StoreWebService/StoreWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="addCapacitor" type="tns:addCapacitor"/>

<xs:element name="addCapacitorResponse" type="tns:addCapacitorResponse"/>

<xs:element name="addOrder" type="tns:addOrder"/>

<xs:element name="addOrderResponse" type="tns:addOrderResponse"/>

<xs:element name="addResistor" type="tns:addResistor"/>

<xs:element name="addResistorResponse" type="tns:addResistorResponse"/>

<xs:element name="addUser" type="tns:addUser"/>

<xs:element name="addUserResponse" type="tns:addUserResponse"/>

<xs:element name="buyCapacitor" type="tns:buyCapacitor"/>

<xs:element name="buyCapacitorResponse" type="tns:buyCapacitorResponse"/>

<xs:element name="capacitor" type="tns:capacitor"/>

<xs:element name="checkAuthorization" type="tns:checkAuthorization"/>

<xs:element name="checkAuthorizationResponse" type="tns:checkAuthorizationResponse"/>

<xs:element name="getAllCapacitors" type="tns:getAllCapacitors"/>

<xs:element name="getAllCapacitorsResponse" type="tns:getAllCapacitorsResponse"/>

<xs:element name="getAllOrders" type="tns:getAllOrders"/>

<xs:element name="getAllOrdersResponse" type="tns:getAllOrdersResponse"/>

<xs:element name="getAllResistors" type="tns:getAllResistors"/>

<xs:element name="getAllResistorsResponse" type="tns:getAllResistorsResponse"/>

<xs:element name="getAllUsers" type="tns:getAllUsers"/>

<xs:element name="getAllUsersResponse" type="tns:getAllUsersResponse"/>

<xs:element name="getCapacitor" type="tns:getCapacitor"/>

<xs:element name="getCapacitorResponse" type="tns:getCapacitorResponse"/>

<xs:element name="getOrder" type="tns:getOrder"/>

<xs:element name="getOrderResponse" type="tns:getOrderResponse"/>

<xs:element name="getResistor" type="tns:getResistor"/>

<xs:element name="getResistorResponse" type="tns:getResistorResponse"/>

<xs:element name="getUser" type="tns:getUser"/>

<xs:element name="getUserResponse" type="tns:getUserResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="orders" type="tns:orders"/>

<xs:element name="removeCapacitor" type="tns:removeCapacitor"/>

<xs:element name="removeCapacitorResponse" type="tns:removeCapacitorResponse"/>

<xs:element name="removeOrder" type="tns:removeOrder"/>

<xs:element name="removeOrderResponse" type="tns:removeOrderResponse"/>

<xs:element name="removeResistor" type="tns:removeResistor"/>

<xs:element name="removeResistorResponse" type="tns:removeResistorResponse"/>

<xs:element name="removeUser" type="tns:removeUser"/>

<xs:element name="removeUserResponse" type="tns:removeUserResponse"/>

<xs:element name="resistor" type="tns:resistor"/>

<xs:element name="sortByAscendingCapacitorCap" type="tns:sortByAscendingCapacitorCap"/>

<xs:element name="sortByAscendingCapacitorCapResponse" type="tns:sortByAscendingCapacitorCapResponse"/>

<xs:element name="sortByAscendingCapacitorPrice" type="tns:sortByAscendingCapacitorPrice"/>

<xs:element name="sortByAscendingCapacitorPriceResponse" type="tns:sortByAscendingCapacitorPriceResponse"/>

<xs:element name="sortByDescendingCapacitorCap" type="tns:sortByDescendingCapacitorCap"/>

<xs:element name="sortByDescendingCapacitorCapResponse" type="tns:sortByDescendingCapacitorCapResponse"/>

<xs:element name="sortByDescendingCapacitorPrice" type="tns:sortByDescendingCapacitorPrice"/>

<xs:element name="sortByDescendingCapacitorPriceResponse" type="tns:sortByDescendingCapacitorPriceResponse"/>

<xs:element name="updateCapacitor" type="tns:updateCapacitor"/>

<xs:element name="updateCapacitorResponse" type="tns:updateCapacitorResponse"/>

<xs:element name="updateOrder" type="tns:updateOrder"/>

<xs:element name="updateOrderResponse" type="tns:updateOrderResponse"/>

<xs:element name="updateResistor" type="tns:updateResistor"/>

<xs:element name="updateResistorResponse" type="tns:updateResistorResponse"/>

<xs:element name="updateUser" type="tns:updateUser"/>

<xs:element name="updateUserResponse" type="tns:updateUserResponse"/>

<xs:element name="user" type="tns:user"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllResistors">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllResistorsResponse">
<xs:sequence>
<xs:element name="return" type="tns:resistor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resistor">
<xs:sequence>
<xs:element name="count" type="xs:int"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="power" type="xs:double"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="resistance" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllCapacitors">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllCapacitorsResponse">
<xs:sequence>
<xs:element name="return" type="tns:capacitor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="capacitor">
<xs:sequence>
<xs:element name="capacity" type="xs:int"/>
<xs:element name="count" type="xs:int"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sortByDescendingCapacitorPrice">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="sortByDescendingCapacitorPriceResponse">
<xs:sequence>
<xs:element name="return" type="tns:capacitor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeResistor">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeResistorResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getResistor">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getResistorResponse">
<xs:sequence>
<xs:element name="return" type="tns:resistor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCapacitor">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="capacitor" type="tns:capacitor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCapacitorResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getOrder">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrderResponse">
<xs:sequence>
<xs:element name="return" type="tns:orders" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orders">
<xs:sequence>
<xs:element name="count" type="xs:int"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="productId" type="xs:int"/>
<xs:element name="productName" type="xs:string" minOccurs="0"/>
<xs:element name="userId" type="xs:int"/>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sortByDescendingCapacitorCap">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="sortByDescendingCapacitorCapResponse">
<xs:sequence>
<xs:element name="return" type="tns:capacitor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeOrder">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeOrderResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateOrder">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="order" type="tns:orders" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateOrderResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateUser">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="privilege" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateUserResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllUsers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllUsersResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addOrder">
<xs:sequence>
<xs:element name="order" type="tns:orders" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addOrderResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="sortByAscendingCapacitorPrice">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="sortByAscendingCapacitorPriceResponse">
<xs:sequence>
<xs:element name="return" type="tns:capacitor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkAuthorization">
<xs:sequence>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkAuthorizationResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sortByAscendingCapacitorCap">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="sortByAscendingCapacitorCapResponse">
<xs:sequence>
<xs:element name="return" type="tns:capacitor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCapacitor">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCapacitorResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCapacitor">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCapacitorResponse">
<xs:sequence>
<xs:element name="return" type="tns:capacitor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeUser">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeUserResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="addCapacitor">
<xs:sequence>
<xs:element name="capacitor" type="tns:capacitor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCapacitorResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="addResistor">
<xs:sequence>
<xs:element name="resistor" type="tns:resistor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addResistorResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllOrders">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllOrdersResponse">
<xs:sequence>
<xs:element name="return" type="tns:orders" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateResistor">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="resistor" type="tns:resistor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateResistorResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="buyCapacitor">
<xs:sequence>
<xs:element name="idCapacitor" type="xs:int" minOccurs="0"/>
<xs:element name="idUser" type="xs:int" minOccurs="0"/>
<xs:element name="capacitorCount" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buyCapacitorResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUser">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addUser">
<xs:sequence>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addUserResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>